<%- include('./includes/head') %>
<link rel="stylesheet" href="/css/error-pages.css">
</head>

<body>
    <%- include('./includes/navigation.ejs') %>
    <div class="container">
        <div class="main-text">
            <h3>Ops! <span>500</span> mething went wrong!</h3>
        </div>
        <div class="secondary-text">
            <p>We're sorry for the incovenience! We're already work to fix that!</p>
        </div>
    </div>
    <%- include('./includes/end') %>