.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control button,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control button,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
  padding: 6px 10px;
}

.form-control label {
  font-size: 0.8rem;
  color: #a1a1a1;
}

.form-control input:focus,
.form-control textarea:focus,
.form-control button:focus {
  outline-color: #00695c;
}

/* Login */
.form-container {
  height: calc(100vh - 3.5rem - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.login-form {
  width: 400px;
  border: 1px solid #00695c;
  border-radius: 5px;
  padding: 40px 40px 10px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.user-message {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #1d1db4;
  border-radius: 3px;
  padding: 5px 5px;
  background: #a2a2da;
  font-size: 0.8rem;
  text-align: center;
}

.user-message__error {
  border: 1px solid #da2c2c;
  background: #c9a5a1;
  color: #da2c2c;
}

.reset-password {
  margin-top: 0.8rem;
  text-align: center;
}

.reset-password a {
  font-size: 0.8rem;
}
